{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "stylelint-scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "declaration-empty-line-before": null,
    "order/properties-order": [[], {
      "severity": "warning"
    }],
    "plugin/rational-order": [true, {
      "empty-line-between-groups": true
    }]
  }
}
